.main-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.search-form {
  display: flex;
  & button {
    min-width: 120px;
    min-height: 45px;
    display: flex;
    & img, & span {
      margin: auto;
    }
  }
}
.movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px 20px;
  padding: 20px;

  .card {
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      min-height: 100px;
      h4 {
        margin: 0;
        text-align: center;
      }
      p {
        margin: 5px 0 20px;
        opacity: .7;
      }
    }
    .image {
      overflow: hidden;
      border-radius: 10px;
      height: 420px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        transition: scale .5s ease;
        &:hover {
          scale: 1.10;
        }
      }
    }
  }
}
